body{
    background-color: black;
}
.container{
    width:1000px;
    height:550px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(bgimg.jpg);
    margin:20px auto;
    border:2px solid grey;
}
#Calculator{
    border:2px solid grey;
width:270px;
height: 320px;
background-color: #666;
margin: 0 auto;
top:20px;
position: relative;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#result{
    width:98%;
    height:48px;
    background-color:#333;;
    
    position: relative;
}



.btn{
    width:48px;
    margin:13px 08px;
    height:30px;
    background-color: grey;
    color:white;
}
.hbtn{
    width:120px;
    background-color: grey;
    margin:8px 6px;
    height:26px;
    color:white;
}
input{
   font-size: larger; 
}
